body {
  background-color: black;
  color: white;
}

.container {
  max-width: initial;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.tagFilters {
  width: 70%;
  margin:auto;
  display:flex;
  justify-content: space-evenly;
}

.tagFilters > input {
  appearance: none;
  margin: 10px;
}

input[type="checkbox"] + label {
  color:darkgrey;
}
input[type="checkbox"]:checked + label {
  color:hotpink;
  text-shadow: 0 0 10px white;
}

label::before {
    display: inline-block;
    padding: 2px 6px 2px 2px;
    content: "\f063";
}

.tableWrap {
  height: 300px;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 0 0 5px white, 0 0 20px hotpink, 0 0 10px pink, inset 0 0 5px white, inset 0 0 20px hotpink, inset 0 0 10px pink;
  overflow: auto;
  margin:auto;
  width: 70%;
  height: 50vh;
}
