<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Marielle Peschet — Voix Off</title>
	<link rel="icon" type="image/png" href="/images/logo_fav.svg">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<!--- Contenu du site -->
<body>

	<header class="img_accueil arrivee">
		<a href="/"><img class="logo_accueil" src="/images/logo_white.svg" alt="petit logo marielle peschet voix off"></a>
	

		<nav>
			<ul>
				<li><a href="/voix/" class="{{ 'allume' if 'voix' in page.url }}">VOIX OFF</a></li>
				<li><a href="/studio/"  class="{{ 'allume' if 'studio' in page.url }}">INFO</a></li>
				<li><a href="/contact/"  class="{{ 'allume' if 'contact' in page.url }}">CONTACT</a></li>
			</ul>
		</nav>
	</header>
	<main>
        {{ content | safe }}
	</main>

<!--Footer-->
<footer>
    <div class="reseaux_sociaux">
      <a href="https://soundcloud.com/mapesche"><img src="/images/soundcloud1.svg" alt="Soundcloud" class="soundcloud"></a>
      <a href="https://fr.linkedin.com/in/mariellepeschet"><img src="/images/linkedin.svg" alt="LinkedIn"></a>
      <a href="https://www.instagram.com/_mapesche/" ><img src="/images/instagram.svg" alt="Instagram"></a>
    </div>
  
    <div class="mentions_legales"><a href="/mentionslegales/">&#169;  2022</a></div>
</footer>

<script type="text/javascript" src="/scripts/scripts.js" defer></script>
</body>
</html>