<!doctype html>
<html lang="en">
<head> 
<meta charset="utf-8">
<!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">
  <title>{{ title }}</title>
</head>
<body>
<div class="container u-full-width">
  <div class="row">
    <div class="one column">Plip</div>
    <div class="ten columns">&nbsp;</div>
    <div class="one columns">Plop</div>
  </div>
  
  <div class="row">
    <div class="one column">&nbsp;</div>
    <div class="ten columns">
      {{ content }}
    </div>
    <div class="one column">&nbsp;</div>
 </div>

  <div class="footer">
    <div class="row">
      <div class="one column">Plip</div>
      <div class="ten columns">&nbsp;</div>
      <div class="one column">Plop</div>
    </div>
  </div>
</div>
<script type="text/javascript" src="scripts/scripts.js" defer></script>
</body>
</html>
